@page

@model AdminPersonal.Pages.Instituciones.IndexModel

<h1>Instituciones educativas</h1>

@if (TempData["Mensaje"] != null || TempData["Error"] != null)
{
<div class="modal fade show" style="display:block;" tabindex="-1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    @(TempData["Error"] != null ? "Error" : "Mensaje")
                </h5>
            </div>

            <div class="modal-body">
                <p>
                    @(TempData["Error"] ?? TempData["Mensaje"])
                </p>
            </div>

            <div class="modal-footer">
                <a class="btn btn-primary"
                   asp-page="/Instituciones/Index">
                    Aceptar
                </a>
            </div>

        </div>

    </div>

</div>

<div class="modal-backdrop fade show"></div>


}

<a class="btn btn-primary mb-3"
   asp-page="/Instituciones/Crear">
    Nuevo
</a>

<a class="btn btn-secondary mb-3"
   asp-page="/Home/Bienvenida">
    Volver
</a>

<table class="table table-bordered table-striped">

    <thead class="table-dark">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Lista)
        {
            <tr>

                <td>@item.codigo</td>

                <td>@item.nombre</td>

                <td>

                    <a class="btn btn-warning btn-sm"
                       asp-page="/Instituciones/Editar"
                       asp-route-id="@item.id_institucion">
                        Editar
                    </a>

                    <form method="post"
                          asp-page-handler="Eliminar"
                          asp-route-id="@item.id_institucion"
                          class="d-inline"
                          onsubmit="return confirm('¿Realmente desea eliminar el elemento seleccionado?');">

                        <button class="btn btn-danger btn-sm"
                                type="submit">
                            Eliminar
                        </button>

                    </form>

                </td>

            </tr>
        }

    </tbody>
   

</table>
